body {
  padding: 50px;
  margin: 50px;
  left: 100px;

}

.show-post {
  list-style: none;
  h1 {
    text-align: center;
  }
  margin-top: 50px;
  padding: 20px;
  width: 100%;
}

div.post-img {
    position: inline-block;
    float: left;
    margin-left: 50px;
    min-width: 500px;
  }

div.comment-block {
  min-width: 50%;

}
