body#signin-page {
  background-image: url(../images/trianglify.svg);
  background-size: cover;
}

div.logo {
  text-align: center;
  color: white;
  font-size: 100px;
  margin-top: 50px;
}

div#signin-box {
  size: 80%;
  top: 40px;
  position: relative;
  form {
    padding: 10px;
    input {
      padding: 10px;
      margin: 10px;
    }
    button {
      margin: 0 auto;
      margin-left: 40%;
    }
    p {
      text-align: center;
      margin-top: 10px;
    }
  }

 }

